USE [BirdTradingPlatform]
GO
/****** Object:  Table [dbo].[category]    Script Date: 7/5/2023 6:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[category_id] [bigint] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoice]    Script Date: 7/5/2023 6:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoice](
	[invoice_id] [bigint] IDENTITY(1,1) NOT NULL,
	[address] [nvarchar](255) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[email] [nvarchar](255) NULL,
	[is_paid] [tinyint] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[note] [nvarchar](255) NULL,
	[payment_method] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](25) NULL,
	[total_amount] [decimal](10, 2) NOT NULL,
	[total_amount_pre_shipping] [decimal](10, 2) NOT NULL,
	[total_item] [int] NOT NULL,
	[total_shipping_cost] [decimal](10, 2) NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[user_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[invoice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order]    Script Date: 7/5/2023 6:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order](
	[order_id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[status] [tinyint] NOT NULL,
	[total_amount] [decimal](10, 2) NOT NULL,
	[total_amount_pre_shipping] [decimal](10, 2) NOT NULL,
	[total_item] [int] NOT NULL,
	[total_shipping_cost] [decimal](10, 2) NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[invoice_id] [bigint] NULL,
	[store_id] [bigint] NULL,
	[cancel_reason] [nvarchar](2500) NULL,
	[is_reported] [tinyint] NULL,
	[refund_duration] [datetime2](6) NULL,
	[refund_reason] [nvarchar](2500) NULL,
	[reported_reason] [nvarchar](2500) NULL,
	[delivered_at] [datetime2](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_item]    Script Date: 7/5/2023 6:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_item](
	[order_id] [bigint] NOT NULL,
	[product_id] [bigint] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[quantity] [int] NOT NULL,
	[total] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 7/5/2023 6:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[product_id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[description] [nvarchar](2500) NULL,
	[image] [nvarchar](1024) NULL,
	[name] [nvarchar](255) NOT NULL,
	[status] [tinyint] NOT NULL,
	[stock] [int] NOT NULL,
	[unit_price] [decimal](10, 2) NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[category_id] [bigint] NULL,
	[store_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[store]    Script Date: 7/5/2023 6:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[store](
	[store_id] [bigint] IDENTITY(1,1) NOT NULL,
	[address] [nvarchar](255) NOT NULL,
	[cover_image] [nvarchar](1024) NULL,
	[created_at] [datetime2](6) NULL,
	[description] [nvarchar](2500) NULL,
	[logo_image] [nvarchar](1024) NULL,
	[name] [nvarchar](255) NOT NULL,
	[status] [tinyint] NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[user_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[store_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_account]    Script Date: 7/5/2023 6:34:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_account](
	[user_id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[email] [nvarchar](255) NOT NULL,
	[email_verified] [tinyint] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[password] [nvarchar](255) NULL,
	[phone] [nvarchar](25) NULL,
	[role] [nvarchar](25) NOT NULL,
	[status] [tinyint] NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[store_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([category_id], [description], [name]) VALUES (1, N'Bird species for sale', N'Bird')
INSERT [dbo].[category] ([category_id], [description], [name]) VALUES (2, N'Food for birds', N'Food')
INSERT [dbo].[category] ([category_id], [description], [name]) VALUES (3, N'Accessories for birds', N'Accessory')
SET IDENTITY_INSERT [dbo].[category] OFF
GO
SET IDENTITY_INSERT [dbo].[invoice] ON 

INSERT [dbo].[invoice] ([invoice_id], [address], [created_at], [email], [is_paid], [name], [note], [payment_method], [phone], [total_amount], [total_amount_pre_shipping], [total_item], [total_shipping_cost], [updated_at], [user_id]) VALUES (3, N'245 Man Thiện', CAST(N'2023-07-05T18:32:54.8681260' AS DateTime2), N'kentdev196@gmail.com', 1, N'Vũ Triều Dương', N'Nothing', N'Direct Bank Transfer', N'0909999789', CAST(3989000.00 AS Decimal(10, 2)), CAST(3915000.00 AS Decimal(10, 2)), 6, CAST(74000.00 AS Decimal(10, 2)), CAST(N'2023-07-05T18:32:54.8681270' AS DateTime2), 13)
SET IDENTITY_INSERT [dbo].[invoice] OFF
GO
SET IDENTITY_INSERT [dbo].[order] ON 

INSERT [dbo].[order] ([order_id], [created_at], [status], [total_amount], [total_amount_pre_shipping], [total_item], [total_shipping_cost], [updated_at], [invoice_id], [store_id], [cancel_reason], [is_reported], [refund_duration], [refund_reason], [reported_reason], [delivered_at]) VALUES (1, CAST(N'2023-07-05T18:27:11.7649550' AS DateTime2), 1, CAST(2763000.00 AS Decimal(10, 2)), CAST(2750000.00 AS Decimal(10, 2)), 4, CAST(13000.00 AS Decimal(10, 2)), CAST(N'2023-07-05T18:27:11.7650220' AS DateTime2), 1, 1, NULL, 1, NULL, NULL, NULL, CAST(N'2023-07-08T18:27:11.7646810' AS DateTime2))
INSERT [dbo].[order] ([order_id], [created_at], [status], [total_amount], [total_amount_pre_shipping], [total_item], [total_shipping_cost], [updated_at], [invoice_id], [store_id], [cancel_reason], [is_reported], [refund_duration], [refund_reason], [reported_reason], [delivered_at]) VALUES (2, CAST(N'2023-07-05T18:27:11.8640100' AS DateTime2), 4, CAST(361000.00 AS Decimal(10, 2)), CAST(350000.00 AS Decimal(10, 2)), 1, CAST(11000.00 AS Decimal(10, 2)), CAST(N'2023-07-05T18:28:15.9671900' AS DateTime2), 1, 7, NULL, 1, NULL, NULL, NULL, CAST(N'2023-07-08T18:27:11.8640080' AS DateTime2))
INSERT [dbo].[order] ([order_id], [created_at], [status], [total_amount], [total_amount_pre_shipping], [total_item], [total_shipping_cost], [updated_at], [invoice_id], [store_id], [cancel_reason], [is_reported], [refund_duration], [refund_reason], [reported_reason], [delivered_at]) VALUES (3, CAST(N'2023-07-05T18:27:11.8708650' AS DateTime2), 1, CAST(565000.00 AS Decimal(10, 2)), CAST(550000.00 AS Decimal(10, 2)), 1, CAST(15000.00 AS Decimal(10, 2)), CAST(N'2023-07-05T18:27:11.8708650' AS DateTime2), 1, 8, NULL, 1, NULL, NULL, NULL, CAST(N'2023-07-08T18:27:11.8708640' AS DateTime2))
SET IDENTITY_INSERT [dbo].[order] OFF
GO
INSERT [dbo].[order_item] ([order_id], [product_id], [price], [quantity], [total]) VALUES (1, 15, CAST(800000.00 AS Decimal(10, 2)), 1, CAST(800000.00 AS Decimal(10, 2)))
INSERT [dbo].[order_item] ([order_id], [product_id], [price], [quantity], [total]) VALUES (1, 18, CAST(150000.00 AS Decimal(10, 2)), 1, CAST(150000.00 AS Decimal(10, 2)))
INSERT [dbo].[order_item] ([order_id], [product_id], [price], [quantity], [total]) VALUES (1, 20, CAST(800000.00 AS Decimal(10, 2)), 1, CAST(800000.00 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[product] ON 

INSERT [dbo].[product] ([product_id], [created_at], [description], [image], [name], [status], [stock], [unit_price], [updated_at], [category_id], [store_id]) VALUES (2, CAST(N'2023-07-05T13:17:26.7966670' AS DateTime2), N'Small bird with a sweet melodious song.', N'https://petshopthuduc.com/wp-content/uploads/2023/05/yellow-collared-macaw-3-600x450.jpg', N' Yellow Collared Macaw', 1, 15, CAST(25000000.00 AS Decimal(10, 2)), CAST(N'2023-07-05T14:26:23.6779850' AS DateTime2), 1, 1)
INSERT [dbo].[product] ([product_id], [created_at], [description], [image], [name], [status], [stock], [unit_price], [updated_at], [category_id], [store_id]) VALUES (3, CAST(N'2023-07-05T13:17:26.7966670' AS DateTime2), N'Cage for small birds.', N'https://assets.petco.com/petco/image/upload/f_auto,q_auto/3024526-center-1', N'Small Bird Cage', 1, 5, CAST(300000.00 AS Decimal(10, 2)), CAST(N'2023-06-29T11:10:00.0000000' AS DateTime2), 3, 1)
SET IDENTITY_INSERT [dbo].[product] OFF
GO
SET IDENTITY_INSERT [dbo].[store] ON 

INSERT [dbo].[store] ([store_id], [address], [cover_image], [created_at], [description], [logo_image], [name], [status], [updated_at], [user_id]) VALUES (1, N'218A Pasteur, Phường 6, Quận 3, Thành phố Hồ Chí Minh, Việt Nam', N'https://wallpaperaccess.com/full/447818.jpg', CAST(N'2023-07-05T13:17:22.2766670' AS DateTime2), N'Discover a wide selection of bird cages, feeders, and toys.', N'https://banner2.cleanpng.com/20180402/ojq/kisspng-rio-film-poster-blue-sky-studios-animation-rio-5ac22778b56295.538145411522673528743.jpg', N'Rio Haven', 1, CAST(N'2023-07-05T13:17:22.2766670' AS DateTime2), 2)
SET IDENTITY_INSERT [dbo].[store] OFF
GO
SET IDENTITY_INSERT [dbo].[user_account] ON 

INSERT [dbo].[user_account] ([user_id], [created_at], [email], [email_verified], [name], [password], [phone], [role], [status], [updated_at], [store_id]) VALUES (1, CAST(N'2023-07-05T13:17:17.5966670' AS DateTime2), N'admin@gmail.com', 1, N'Admin', N'$2a$12$Zx58QiMgf4zZ/ZMpE27AzOA4SM4fMErsHmqP2JOFS9FgyFLfOi03i', N'0000000000', N'ADMIN', 1, CAST(N'2023-07-05T13:17:17.5966670' AS DateTime2), NULL)
INSERT [dbo].[user_account] ([user_id], [created_at], [email], [email_verified], [name], [password], [phone], [role], [status], [updated_at], [store_id]) VALUES (2, CAST(N'2023-07-05T13:17:17.5966670' AS DateTime2), N'store1@example.com', 1, N'Store Staff 1', N'$2a$12$Zx58QiMgf4zZ/ZMpE27AzOA4SM4fMErsHmqP2JOFS9FgyFLfOi03i', N'0909000991', N'STORE', 1, CAST(N'2023-07-05T13:17:17.5966670' AS DateTime2), 1)
INSERT [dbo].[user_account] ([user_id], [created_at], [email], [email_verified], [name], [password], [phone], [role], [status], [updated_at], [store_id]) VALUES (3, CAST(N'2023-07-05T13:17:17.5966670' AS DateTime2), N'store2@example.com', 1, N'Store Staff 2', N'$2a$12$Zx58QiMgf4zZ/ZMpE27AzOA4SM4fMErsHmqP2JOFS9FgyFLfOi03i', N'0909000992', N'STORE', 1, CAST(N'2023-07-05T13:17:17.5966670' AS DateTime2), 2)
SET IDENTITY_INSERT [dbo].[user_account] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__user_acc__AB6E61640976F1A4]    Script Date: 7/5/2023 6:34:59 PM ******/
ALTER TABLE [dbo].[user_account] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[order] ADD  DEFAULT ((0)) FOR [is_reported]
GO
ALTER TABLE [dbo].[invoice]  WITH CHECK ADD  CONSTRAINT [FKfcufjjl5u3n2x82s1ftw01k9f] FOREIGN KEY([user_id])
REFERENCES [dbo].[user_account] ([user_id])
GO
ALTER TABLE [dbo].[invoice] CHECK CONSTRAINT [FKfcufjjl5u3n2x82s1ftw01k9f]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK51wrye1n93a8f1j7rxq7cu370] FOREIGN KEY([invoice_id])
REFERENCES [dbo].[invoice] ([invoice_id])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK51wrye1n93a8f1j7rxq7cu370]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK90lxxrxlt4chf273vcm9pi8ak] FOREIGN KEY([store_id])
REFERENCES [dbo].[store] ([store_id])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK90lxxrxlt4chf273vcm9pi8ak]
GO
ALTER TABLE [dbo].[order_item]  WITH CHECK ADD  CONSTRAINT [FK551losx9j75ss5d6bfsqvijna] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[order_item] CHECK CONSTRAINT [FK551losx9j75ss5d6bfsqvijna]
GO
ALTER TABLE [dbo].[order_item]  WITH CHECK ADD  CONSTRAINT [FKs234mi6jususbx4b37k44cipy] FOREIGN KEY([order_id])
REFERENCES [dbo].[order] ([order_id])
GO
ALTER TABLE [dbo].[order_item] CHECK CONSTRAINT [FKs234mi6jususbx4b37k44cipy]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK1mtsbur82frn64de7balymq9s] FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([category_id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK1mtsbur82frn64de7balymq9s]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FKjlfidudl1gwqem0flrlomvlcl] FOREIGN KEY([store_id])
REFERENCES [dbo].[store] ([store_id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FKjlfidudl1gwqem0flrlomvlcl]
GO
ALTER TABLE [dbo].[store]  WITH CHECK ADD  CONSTRAINT [FKs6piet5tft2wg1tgg2rn3nux2] FOREIGN KEY([user_id])
REFERENCES [dbo].[user_account] ([user_id])
GO
ALTER TABLE [dbo].[store] CHECK CONSTRAINT [FKs6piet5tft2wg1tgg2rn3nux2]
GO
ALTER TABLE [dbo].[user_account]  WITH CHECK ADD  CONSTRAINT [FK7vqhqxt45ua0j213qal23oqd5] FOREIGN KEY([store_id])
REFERENCES [dbo].[store] ([store_id])
GO
ALTER TABLE [dbo].[user_account] CHECK CONSTRAINT [FK7vqhqxt45ua0j213qal23oqd5]
GO
