
<div class=\"col-6 col-lg-4 col-xl-3 p0 pl15-520\">
    <div class=\"shop_item bdr1 m--1\">
        <div class=\"thumb pb30\">
            <img src=\"images/shop-items/shop-item1.png\" alt=\"Shop Item1\">
            <div class=\"shop_item_cart_btn d-grid\">
                <a href=\"#\" class=\"btn btn-thm\">Add to Cart</a>
            </div>
        </div>
        <div class=\"details\">
            <div class=\"sub_title\">SAMSUNG</div>
            <div class=\"title\">
                <a href=\"#\">
                    Acer Aspire 5 15.6\" Laptop - Silver (Intel Core i7-1165G7/512GB
                    SSD/12GB RAM/Windows 11)
                </a>
            </div>
            <div class=\"si_footer\">
                <div class=\"price\">$32.50</div>
            </div>
        </div>
    </div>
</div>