<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BTP Bird Trading Platform</title>

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/ace-responsive-menu.css">
    <link rel="stylesheet" href="~/css/menu.css">
    <link rel="stylesheet" href="~/css/fontawesome.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/slider.css">
    <link rel="stylesheet" href="~/css/jquery-ui.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500&amp;family=Poppins:wght@700&amp;display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="~/css/responsive.css">
    <link href="~/images/favicon.ico" sizes="128x128" rel="shortcut icon" type="image/x-icon">
    <link href="~/images/favicon.ico" sizes="128x128" rel="shortcut icon">
    <link href="~/images/apple-touch-icon-60x60.png" sizes="60x60" rel="apple-touch-icon">
    <link href="~/images/apple-touch-icon-72x72.png" sizes="72x72" rel="apple-touch-icon">
    <link href="~/images/apple-touch-icon-114x114.png" sizes="114x114" rel="apple-touch-icon">
    <link href="~/images/apple-touch-icon-180x180.png" sizes="180x180" rel="apple-touch-icon">
</head>
<body>
    <div class="wrapper ovh">
        <div class="preloader"></div>
        <div class="header_middle pt20 pb20 dn-992">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-xxl-2">
                        <div class="header_top_logo_home1">
                            <div class="logo">Zeomart<span class="text-thm">.</span></div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-xxl-6">
                        <div class="header_middle_advnc_search">
                            <div class="search_form_wrapper">
                                <div class="row">
                                    <div class="col-auto pr0">
                                        <div class="actegory">
                                            <select class="selectpicker" id="selectbox_alCategory">
                                                <option value="AllCategory">All Category</option>
                                                <option value="Today’sHotDeals">Today’s Hot Deals</option>
                                                <option value="Babies&Moms">Babies & Moms</option>
                                                <option value="Clothing&Accessories">Clothing & Accessories</option>
                                                <option value="Electronics">Electronics</option>
                                                <option value="Grocery&Market">Grocery & Market</option>
                                                <option value="Health&Beauty">Health & Beauty</option>
                                                <option value="Home&Kitchen">Home & Kitchen</option>
                                                <option value="Home&Furniture">Home & Furniture</option>
                                                <option value="Health&Beauty">Health & Beauty</option>
                                                <option value="Sport&Outdoor">Sport & Outdoor</option>
                                                <option value="Toy&VideoGames">Toy & Video Games</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-auto p0">
                                        <div class="top-search">
                                            <form action="#" method="get" class="form-search" accept-charset="utf-8">
                                                <div class="box-search pre_line">
                                                    <input class="form_control" type="text"
                                                           name="search" placeholder="Search products…">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-auto p0">
                                        <div class="advscrh_frm_btn">
                                            <button type="submit" class="btn search-btn">
                                                <span class="flaticon-search"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-xxl-4 pr0-lg">
                        <div class="hm_log_fav_cart_widget justify-content-center float-end">
                            <div class="wrapper">
                                <ul class="mb0">
                                    <li class="list-inline-item">
                                        <a class="header_top_iconbox"
                                           href="#">
                                            <div class="d-block d-md-flex">
                                                <div class="icon"><span class="flaticon-profile"></span></div>
                                                <div class="details">
                                                    <p class="subtitle">Sign In</p>
                                                    <h5 class="title">Account</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="header_top_iconbox cart-filter-btn" href="#">
                                            <div class="d-block d-md-flex">
                                                <div class="icon">
                                                    <span>
                                                        <img src="~/images/icons/flaticon-shopping-cart-white.svg"
                                                             alt="">
                                                    </span><span class="badge">2</span>
                                                </div>
                                                <div class="details">
                                                    <p class="subtitle">$200.99</p>
                                                    <h5 class="title">Total</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <header class="header-nav menu_style_home_one main-menu">
            <nav class="posr">
                <div class="container posr menu_bdrt1">
                    <div class="menu-toggle">
                        <button type="button" id="menu-btn">
                            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="posr logo1 home1_style">
                        <div id="mega-menu">
                            <a class="btn-mega" href="#">
                                <img class="me-2"
                                     src="~/images/desktop-nav-menu-white.svg" alt="Desktop Menu Icon"><span class="fw500 fz16 color-white vam">Browse Categories</span>
                            </a>
                            <ul class="menu">
                                <li>
                                    <a class="" href="#">
                                        <span class="menu-icn flaticon-diamond"></span><span class="menu-title">Today’s Hot Deals</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <ul id="respMenu" class="ace-responsive-menu menu_list_custom_code wa pl200"
                        data-menu-style="horizontal">
                        <li class="list-inline-item list_c"><a href="#">Home</a></li>
                        <li class="list-inline-item list_c"><a href="#">Products</a></li>
                        <li class="list-inline-item list_c"><a href="#">Stores</a></li>
                        <li class="list-inline-item list_c"><a href="#">New Arrivals</a></li>
                    </ul>
                    <ul id="respMenu2" class="ace-responsive-menu widget_menu_home2 wa" data-menu-style="horizontal">
                    </ul>
                </div>
            </nav>
        </header>
        <div class="hiddenbar-body-ovelay"></div>
        <div class="cart-hidden-sbar">
            <div class="hsidebar-header">
                <div class="sidebar-close-icon"><span class="flaticon-close"></span></div>
                <h4 class="title">Your Cart</h4>
            </div>
            <div class="hsidebar-content">
                <div class="log_fav_cart_widget hsidebar_home_page">
                    <div class="wrapper">
                        <ul class="cart">
                            <li class="list-inline-item">
                                <ul class="dropdown_content">
                                    <li class="list_content">
                                        <div>
                                            <img class="float-start mt10" src="~/images/shop/s1.png" alt="75x75">
                                            <p>Apple MacBook Pro with Apple M1 Chip</p>
                                            <div class="cart_btn home_page_sidebar mt10">
                                                <div class="quantity-block home_page_sidebar">
                                                    <button class="quantity-arrow-minus home_page_sidebar">
                                                        <img src="~/images/icons/minus.svg" alt="">
                                                    </button><input class="quantity-num home_page_sidebar" type="number"
                                                                    value="3"><button class="quantity-arrow-plus home_page_sidebar">
                                                        <span class="flaticon-close"></span>
                                                    </button>
                                                </div><span class="home_page_sidebar price">$3.399</span>
                                            </div><span class="close_icon"><i class="flaticon-close"></i></span>
                                        </div>
                                    </li>
                                    <li class="list_content">
                                        <div>
                                            <img class="float-start mt10" src="~/images/shop/s2.png" alt="75x75">
                                            <p>Apple MacBook Pro with Apple M1 Chip</p>
                                            <div class="cart_btn home_page_sidebar mt10">
                                                <div class="quantity-block home_page_sidebar">
                                                    <button class="quantity-arrow-minus2 home_page_sidebar">
                                                        <img src="~/images/icons/minus.svg" alt="">
                                                    </button><input class="quantity-num2 home_page_sidebar" type="number"
                                                                    value="3"><button class="quantity-arrow-plus2 home_page_sidebar">
                                                        <span class="flaticon-close"></span>
                                                    </button>
                                                </div><span class="home_page_sidebar price">$3.399</span>
                                            </div><span class="close_icon"><i class="flaticon-close"></i></span>
                                        </div>
                                    </li>
                                    <li class="list_content_total_price">
                                        <h5>Total:<span class="total_price float-end">$6.225.98</span></h5>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="hsidebar_footer_content">
                <div class="list_last_content">
                    <div class="lc">
                        <p class="para">Buy $98.00 more to enjoy FREE Shipping</p>
                        <div class="uilayout_range home1_style">
                            <div class="sidebar_range_slider mb30 mt25">
                                <input class="range-example-km" value="80"
                                       type="text">
                            </div>
                        </div><a href="#" class="cart_btns btn btn-white">View Cart</a><a href="#"
                                                                                          class="checkout_btns btn btn-thm">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="page" class="stylehome1">
            <div class="mobile-menu">
                <div class="header stylehome1">
                    <div class="menu_and_widgets">
                        <div class="mobile_menu_bar float-start">
                            <a class="menubar" href="#menu"><span></span></a><a class="mobile_logo" href="#">Zeomart<span class="text-thm">.</span></a>
                        </div>
                        <div class="mobile_menu_widget_icons">
                            <ul class="cart mt15">
                                <li class="list-inline-item">
                                    <a class="cart_btn" href="#">
                                        <span class="icon flaticon-profile"></span>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="cart_btn cart-filter-btn" href="#">
                                        <span class="icon">
                                            <img src="~/images/icons/flaticon-shopping-cart-white.svg"
                                                 alt="">
                                        </span><span class="badge bgc-thm">2</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="mobile_menu_search_widget">
                        <div class="header_middle_advnc_search">
                            <div class="container search_form_wrapper">
                                <div class="row">
                                    <div>
                                        <div class="top-search text-start">
                                            <form action="#" method="get" class="form-search" accept-charset="utf-8">
                                                <div class="box-search">
                                                    <input class="form_control" type="text"
                                                           name="search" placeholder="Search products…">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="advscrh_frm_btn">
                                            <button type="submit" class="btn search-btn">
                                                <span class="flaticon-search"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="posr">
                        <div class="mobile_menu_close_btn"><span class="flaticon-close"></span></div>
                    </div>
                </div>
            </div>
            <nav id="menu" class="stylehome1">
                <ul>
                    <li>
                        <span>Home</span>
                        <ul>
                            <li><a href="#">Home</a></li>
                        </ul>
                    </li>
                    <li>
                        <span>Products</span>
                        <ul>
                            <li><a href="#">Products</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="body_content_wrapper position-relative">
            @RenderBody()
            <section class="footer_one home1 bdrt1">
                <div class="container pb60">
                    <div class="row">
                        <div class="col-sm-6 col-md-5 col-lg-3 col-xl-3">
                            <div class="footer_contact_widget">
                                <h4>Contact Us</h4>
                                <div class="footer_contact_iconbox d-flex mb-4">
                                    <div class="icon"><span class="flaticon-phone-call"></span></div>
                                    <div class="details ms-4">
                                        <h5 class="title">Monday-Friday: 08am-9pm</h5><a href="#">+(1) 123 456 7890</a>
                                    </div>
                                </div>
                                <div class="footer_contact_iconbox d-flex">
                                    <div class="icon"><span class="flaticon-email"></span></div>
                                    <div class="details ms-4">
                                        <h5 class="title">Need help with your order?</h5><a href="#">support@zeomart.com</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2 col-xl-2">
                            <div class="footer_qlink_widget">
                                <h4>About Zenmart</h4>
                                <ul class="list-unstyled">
                                    <li><a href="#">Track Your Order</a></li>
                                    <li><a href="#">Product Guides</a></li>
                                    <li><a href="#">Wishlists</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Store Locator</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2 col-xl-2">
                            <div class="footer_qlink_widget">
                                <h4>Customer Support</h4>
                                <ul class="list-unstyled">
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">Help Centre</a></li>
                                    <li><a href="#">Returns & Exchanges</a></li>
                                    <li><a href="#">Best Buy Financing</a></li>
                                    <li><a href="#">Best Buy Gift Card</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2 col-xl-2">
                            <div class="footer_qlink_widget">
                                <h4>Services</h4>
                                <ul class="list-unstyled">
                                    <li><a href="#">Geek Squad</a></li>
                                    <li><a href="#">In-Home Advisor</a></li>
                                    <li><a href="#">Trade-In Program</a></li>
                                    <li><a href="#">Electronics Recycling</a></li>
                                    <li><a href="#">Best Buy Health</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-8 col-md-5 col-lg-3 col-xl-3">
                            <div class="footer_social_widget">
                                <h4 class="title">Follow us</h4>
                                <div class="social_icon_list mt30">
                                    <ul class="mb20">
                                        <li class="list-inline-item">
                                            <a href="#"><i class="fab fa-facebook"></i></a>
                                        </li>
                                        <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li class="list-inline-item">
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="footer_mobile_app_widget mb25">
                                <h4 class="title mb10">Mobile Apps</h4>
                                <div class="mobile_app_list">
                                    <ul class="mb0">
                                        <li><a href="#"><span class="flaticon-apple"></span>iOS App</a></li>
                                        <li><a href="#"><span class="flaticon-android"></span>Android App</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="footer_acceped_card_widget">
                                <h4 class="title mb20">We accept</h4>
                                <div class="acceped_card_list">
                                    <ul class="d-flex mb-0">
                                        <li class="me-2">
                                            <a href="#">
                                                <img src="~/images/resource/visa-card.png"
                                                     alt="visa-card">
                                            </a>
                                        </li>
                                        <li class="me-2">
                                            <a href="#">
                                                <img src="~/images/resource/master-card.png"
                                                     alt="master-card">
                                            </a>
                                        </li>
                                        <li class="me-2">
                                            <a href="#">
                                                <img src="~/images/resource/apple-pay.png"
                                                     alt="apple-pay">
                                            </a>
                                        </li>
                                        <li class="me-2">
                                            <a href="#">
                                                <img src="~/images/resource/discover-card.png"
                                                     alt="discover-card">
                                            </a>
                                        </li>
                                        <li class="me-2">
                                            <a href="#">
                                                <img src="~/images/resource/paypal.png"
                                                     alt="paypal">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="~/images/resource/amex-card.png" alt="amex-card"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container bdrt1 pt20 pb20">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="copyright-widget text-center text-lg-start d-block d-lg-flex mb15-md">
                                <p class="me-4">© 2022 Zeomart. All Rights Reserved</p>
                                <p><a href="#">Privacy</a>·<a href="#">Terms</a>·<a href="#">Sitemap</a></p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            
                        </div>
                    </div>
                </div>
            </section><a class="scrollToHome" href="#"><i class="fas fa-angle-up"></i></a>
        </div>
    </div>
    <!-- Wrapper End -->
    <script src="~/js/jquery-3.6.0.js"></script>
    <script src="~/js/jquery-migrate-3.0.0.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/bootstrap-select.min.js"></script>
    <script src="~/js/jquery.mmenu.all.js"></script>
    <script src="~/js/ace-responsive-menu.js"></script>
    <script src="~/js/isotop.js"></script>
    <script src="~/js/parallax.js"></script>
    <script src="~/js/jquery-scrolltofixed-min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/slider.js"></script>
    <script src="~/js/jquery.ez-plus.js"></script>
    <script src="~/js/scrollbalance.js"></script>
    <!-- Custom script for all pages -->
    <script src="~/js/script.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
